<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="前端,编程,笔记,博客,Front-End Notes,Lewis ROM"
    />
    <meta
      name="description"
      content="Lewis ROM's Front-End Notes"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta name="baidu-site-verification" content="code-yyFq2aQkbl" />
    <!-- 公众号编程导航，分享好的编程学习资源 -->
    <title>Lewis ROM's Front-End Notes</title>
    <!-- <link rel="icon" href="<%= context.config.publicPath +'logo.png'%>" type="image/x-icon" /> -->
    <!-- 百度统计 -->
    <!-- <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?3a44649edfc3f514e794de38320045f0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script> -->
  </head>
  <body>
    <noscript>Lewis ROM's Front-End Notes</noscript>
    <div id="root">
    </div>
  </body>
</html>
